<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Study5"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Main2Activity"></activity>
        <activity android:name=".ViewBorderActivity"></activity>
        <activity android:name=".linearLayoutActivity"></activity>
        <activity android:name=".activity_relative_layout"></activity>
        <activity android:name=".gridLayoutActivity"></activity>
        <activity android:name=".scrollLayoutActivity"></activity>
        <activity android:name=".buttonStyleActivity"></activity>
        <activity android:name=".buttonClickActivity"></activity>
        <activity android:name=".buttonLongclickActivity"></activity>
        <activity android:name=".buttonEnableActivity"></activity>
        <activity android:name=".imageScaleActivity"></activity>
        <activity android:name=".imageButtonActivity"></activity>
        <activity android:name=".imageTextActivity"></activity>
        <activity android:name=".actLifeActivity"></activity>
        <activity android:name=".actFinishActivity"></activity>
        <activity android:name=".jumpFirstActivity"></activity>
        <activity android:name=".jumpSecondActivity"></activity>
        <activity android:name=".loginInputActivity"></activity>
        <activity android:name=".loginSuccessActivity"></activity>
    </application>

</manifest>